@model Biblioteka.Models.Notification

@{
    ViewData["Title"] = "Szczegóły powiadomienia";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
}

<div>
    <h4>Powiadomienie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Użytkownik</dt>
        <dd class="col-sm-10">@(Model.User != null ? $"{Model.User.FirstName} {Model.User.LastName}" : "Brak użytkownika")</dd>
        <dt class="col-sm-2">Wiadomość</dt>
        <dd class="col-sm-10">@Model.Message</dd>
        <dt class="col-sm-2">Data wysłania</dt>
        <dd class="col-sm-10">@Model.SentDate.ToString("yyyy-MM-dd")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NotificationID" class="btn btn-warning">Edytuj</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>