@model IEnumerable<Biblioteka.Models.User>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego użytkownika</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Rola</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Role</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-info">Szczegóły</a>
                    <a asp-action="Edit" asp-route-id="@item.UserID" class="btn btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.UserID" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>